<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>犬猫分類アプリ</title>
    <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="container">
      <h1>🐕犬猫分類アプリ🐈</h1>
      <p>画像をアップロードし、「予測する」ボタンを押してください。</p>
      <div class="file-upload-container">
        <label for="file-input" class="custom-file-upload">画像を選択</label>
        <input id="file-input" type="file" accept="image/*">
      </div>
      <img id="image-preview" src="#" alt="アップロードされた画像">
      <button id="predict-button" class="predict-button">予測する</button>
      <div class="loader" id="loader"></div>
      <div id="prediction-result"></div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>